.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (min-widht: $mobile) {
        width: $mobile;
    }

    @media screen and (min-widht: $tablet) {
        width: $tablet;
    }

    @media screen and (min-widht: $desktop) {
        width: $desktop;
    }
}