.hero {
    // max-width: 1600px;
    // height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;

    background-color: $bgImgColor;
    background-image: linear-gradient(to right, $bgLinearGradient, $bgLinearGradient),
        url(../images/bg-img.jpg);
    // background-size: 1600px;
    background-position: cover;
    background-repeat: no-repeat;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }

    &__title {

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: $whiteTextColor;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width: 480px) and (max-width: 1199px) {
            width: 360px;
        }

        @media screen and (min-width: 1200px) {
            width: 696px;

            font-size: 44px;
            line-height: 1.5;
        }

    }
}